{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<h1>Hood businesses</h1>
<div>
    <button id="post" class="btn btn-outline-info">Add Business</button>
</div>

<div class="d-flex flex-row">
    {% for business in business %}
<div class="padl">
    <img src="{{business.business_pic.url}}">
    <h3>{{ business.business_name }}</h3>
    <p>Posted by {{ business.business_user }} on {{ uploaded_on }}</p>
    <p>Business Email {{ business.business_email }}</p>
</div>

{% endfor %}
</div>

<div id="post1">
    <form class="form-horizontal form_middle" enctype='multipart/form-data' method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}
        <div class="form-group">
            <input id="post2" type="submit" class="btn btn-primary btn-sm" value="Submit">
          </div> 
    </form>
</div>


{% endblock %}