{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}

<h3 class="text-center">For Emergency Contact call;</h3>
<div class="d-flex flex-row">
    <div class="padl">
        <h4>Fire Department</h4>
        <p><span>Landline </span><span>0154037662</span></p>
        <p><span>Phone 1 </span><span>+0227172663</span></p>
        <p><span>Phone 2 </span><span>+02274037662</span></p>
    </div>
    
    <div class="padl">
        <h4>LifeSpan Medical Care</h4>
        <p><span>Landline </span><span>0973873732</span></p>
        <p><span>Phone 1 </span><span>+0265756547</span></p>
        <p><span>Phone 2 </span><span>+0264384722</span></p>
        <p><span>Email </span><span>Medicare@gmail.com</span></p>
    </div>
    
    <div class="padl">
        <h4>Lucky Health Clinc</h4>
        <p><span>Landline </span><span>0154037662</span></p>
        <p><span>Phone 1 </span><span>+0227172663</span></p>
        <p><span>Phone 2 </span><span>+02274037662</span></p>
        <p><span>Email </span><span>luckyhealth@gmail.com</span></p>
    </div>
    
    <div class="padl">
        <h4>Police</h4>
        <p><span>Landline </span><span>0973873732</span></p>
        <p><span>Phone 1 </span><span>+04443873732</span></p>
        <p><span>Phone 2 </span><span>+02274037662</span></p>
    </div>
    <div class="padl">
        <h4>Rapid Response Team</h4>
        <p><span>Rapid </span><span>999</span></p>
        <p><span>Phone 1 </span><span>+0227172663</span></p>
        <p><span>Phone 2 </span><span>+02274037662</span></p>
        <p><span>Email </span><span>Usalama@gmail.com</span></p>
    </div>
    
</div>

{% endblock %}