{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<h1>Hood Posts</h1>
<div>
    <button id="post" class="btn btn-outline-info">Add Post</button>
</div>
{% for post in posts %}
<div class="p-3">
    {% if post_pic %}
    <img src="{{post.image.url }}">
    <h3>{{ post.body }}</h3>
    <p>Posted by {{ post.author }} on {{ created_on }}</p>
    {% else %}
    <h3>{{ post.body }}</h3>
    <p>Posted by {{ post.author }} on {{ created_on }}</p>
    {% endif %}
    

</div>
{% endfor %}
<div id="post1">
    <form class="form-horizontal form_middle" enctype='multipart/form-data' method="POST">
        {% csrf_token %}

        {% bootstrap_form form %}
        <div class="form-group">
            <input id="post2" type="submit" class="btn btn-primary btn-sm" value="Submit">
          </div> 
    </form>
</div>

{% endblock %}