.kkk{
    display: flex;
    flex-direction: row;
}
body{
    background-image: url(goodneighbour.jpg);
}
.align{
    align-items: center;
    margin-left: 30vw;
}
.margin-lef{
    margin-right: 0.7vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    
}
.padl{
    margin-left: 3vw;
}